dnspython==2.0.0
Flask==1.1.2
flask-cors==3.0.9
gunicorn
idna
itsdangerous==1.1.0
Jinja2==2.11.2
joblib
MarkupSafe==1.1.1
numpy
pandas
pycparser
pymongo==3.11.2
pyOpenSSL
PySocks
python-dateutil==2.8.1
pytz
requests
scikit-learn
scipy
six
threadpoolctl
urllib3
Werkzeug==1.0.1
win-inet-pton
wincertstore==0.2
