brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click==7.1.2
cryptography
Flask==1.1.2
Flask-WTF==0.14.3
idna
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
MarkupSafe
mkl-fft==1.0.6
mkl-random
mkl-service
numpy
pandas
pycparser
pyOpenSSL
PySocks
python-dateutil==2.8.1
pytz
requests
scikit-learn==0.24.0
scipy==1.5.4
six
threadpoolctl==2.1.0
urllib3
Werkzeug==1.0.1
win-inet-pton
wincertstore==0.2
WTForms==2.3.3
